.footer {
    align-items: center;
    margin-top: 126px;
}

.footer_text {
    display: flex;
    flex-direction: row;
}

.footer_text_one {
    width: 250px;
    grid-area: one;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;

    color: #000000;
}

.footer_text_two {
    width: 300px;
    margin-left: 300px;
    grid-area: two;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;

    color: #000000;
}

.footer_image_icons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.footer_image_icons img {
    margin-left: 4rem;
}

.footer_image_icons_apple {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    padding: 2.5rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}

.bold {
    font-weight: 500;
}

onlinne{
    color: #000000;
    text-decoration: none;
    border: none;
}

